BODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	/*background-color: #edecd1;*/
	/*background-color: RGB(255, 247,231);*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}



TR.Section
{
    BACKGROUND-COLOR: #990000
}

TR.SectionDisabled
{
	font-weight: normal;
	font-size: x-small;
	color: black;
	background-color: silver;
}

TR.SectionSelected
{
    BACKGROUND-COLOR: navy
}
TR.SectionHighlighted
{
    BACKGROUND-COLOR: #3333cc
}


TD.ObjectUnselected
{
	background-color: navy;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	font-family: Verdana;
	text-align: center;
}
TD.ObjectSelected
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: black;
	font-family: Verdana;
	background-color: lightskyblue;
	text-align: center;
}
TD.ObjectHighlighted
{
    BACKGROUND-COLOR: #3333cc;
    font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	font-family: Verdana;
	text-align: center;
}
TD.ObjectDisabled
{
	background-color: navy;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: black;
	font-family: Verdana;
	text-align: center;
}
TD.SectionTab
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	cursor: hand;
	color: white;
	font-family: Verdana;
	text-align: center;
}

.ObjectBar
{
	color: white;
	background-color: navy;
}


TABLE.taskbar
{
	BORDER-LEFT: #708090 thin solid;
    BORDER-RIGHT: #708090 thin solid;
	BORDER-TOP: #708090 thin solid;
	BORDER-BOTTOM: #708090 thin solid;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
	PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;   
    MARGIN-RIGHT: 0px;   
    BACKGROUND-COLOR: white
}


.TabSelected
{
	font-weight: bold;
	color: white;
	background-color: #3366cc;
}


.TabDisabled
{
	font-weight: bold;
	color: black;
	background-color:Silver
}

.TabHidden
{
	display: none;
	
}
TR.TabUnselected
{
	background-color: #990000;
}
TR.TabHighlighted
{
	background-color: blue;
}

TD.TabCaption
{
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	cursor: hand;
	color: white;
	font-family: Verdana;
	background-color: transparent;
	text-align: center;
}

.TabLink
{
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	cursor: hand;
	color: white;
	font-family: Verdana;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
}


SPAN.lbltask
{
	font-weight: bold;
	font-size: x-small;
	color: #cc6600;
	height: 10px;
}

.lnktask
{
	font-size: x-small;
	cursor: hand;
	color: blue;
	text-decoration: underline;
}



span.pgTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: medium;
    COLOR: darkblue
}


span.paneltitle
{
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
	font-size: x-small;
	padding-bottom: 3px;
	vertical-align: baseline;
	color: white;
	padding-top: 1px;
	background-color: #3366cc;
	text-align: left;

}

.tabpad
{
	height: 10px;
	background-color: #3366cc;
}

span.viewtitle
{
	font-weight: bold;
	font-size: x-small;
	color: black;
	border-top-style: none;
	background-color: white;

}

span.lblfld
{
	font-weight: bold;
	font-size:x-small;
	color: black;
}

span.lblvalue
{
	font-size:x-small;
	color: black;
}

span.lblmandatory
{
	font-weight: bold;
	font-size:x-small;
	color: red;
}

INPUT.cmd
{

}

INPUT.smallcmd
{

}

INPUT.Button
{
	
}

INPUT.ConfirmButton
{
	margin-left: 10px;
	margin-right: 10px;
	color: red;
	font-weight: bold;
}

.usererror
{
	font-weight: bold;
	font-size: 10pt;
	color: red;
	text-align: center;
}
.usererrorsummary
{
	font-size: 10pt;
	color: red;
	text-align: left;
}

.systemerror
{
	font-weight:bold;
	font-size: small;
	color: red;
	text-align:center
}



.pagemsg
{
	font-size: small;
	color: navy;
}


.cmddisabled
{
	border-right: silver thin solid;
	border-top: silver thin solid;
	border-left: silver thin solid;
	border-bottom: silver thin solid;
	background-color: ghostwhite;
}
.sortasc
{
	background-position: right center;
	font-weight: bold;
	background-image: url(images\sortup.gif);
	cursor: hand;
	color: white;
	background-repeat: no-repeat;
	background-color: #990000;
	text-align: center;
}

.sortnone
{
	font-weight: bold;
	cursor: hand;
	color: white;
	background-color: #990000;
	text-align: center;
}

.sortdesc
{
	background-position: right center;
	font-weight: bold;
	background-image: url(images\sortdown.gif);
	cursor: hand;
	color: white;
	background-repeat: no-repeat;
	background-color: #990000;
	text-align: center;
}


.viewgrid
{
	border-right: #cc9966 2px solid;
	border-top: #cc9966 2px solid;
	border-left: #cc9966 2px solid;
	border-bottom: #cc9966 2px solid;
	background-color: white;
}

.viewscrollpanel
{
	border-right: #cc9966 1px solid;
	border-top: #cc9966 2px;
	overflow: scroll;
	border-left: #cc9966 1px solid;
	border-bottom: #cc9966 1px solid;
}

.viewgridcell
{
	border-right: #cc9966 2px solid;
	padding-right: 2px;
	border-top: #cc9966 1px solid;
	padding-left: 2px;
	padding-bottom: 1px;
	border-left: #cc9966 2px solid;
	padding-top: 1px;
	border-bottom: #cc9966 1px solid;
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.summarygridcell
{
	border-right: #cc9966 2px solid;
	padding-right: 2px;
	border-top: #cc9966 1px solid;
	padding-left: 2px;
	padding-bottom: 1px;
	border-left: #cc9966 2px solid;
	padding-top: 1px;
	border-bottom: #cc9966 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style:italic;
	color: #000000;
}

.printgrid
{
	border-right: black 2px solid;
	border-top: black 2px solid;
	border-left: black 2px solid;
	border-bottom: black 2px solid;
	background-color: white;
}

.printgridcell
{
	border-right: black 2px solid;
	padding-right: 4px;
	border-top: black 1px solid;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 2px;
	border-left: black 2px solid;
	padding-top: 2px;
	border-bottom: black 1px solid;
	background-color: white;
}

span.lblsummary
{
	border-right: white 1px solid;
	padding-right: 1px;
	border-top: white 1px solid;
	padding-left: 1px;
	font-weight: bold;
	font-size: x-small;
	padding-bottom: 1px;
	margin: 1px;
	border-left: white 1px solid;
	padding-top: 1px;
	border-bottom: white 1px solid;
	font-style: italic;
	background-color: lightgrey;
}

.lnksection
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	cursor: hand;
	color: white;
	font-family: Verdana;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
}

.lnkobj
{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	cursor: hand;
	color: white;
	font-family: Verdana;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
}


.printlnk
{
	border-right: black thin outset;
	border-top: thin outset;
	border-left: thin outset;
	cursor: hand;
	border-bottom: thin outset;
	background-color: silver;
}

.actionlnk
{
	border-right: black thin outset;
	border-top: thin outset;
	border-left: thin outset;
	cursor: hand;
	border-bottom: thin outset;
	background-color: silver;
}

.helplnk
{
	border-right: black thin outset;
	border-top: thin outset;
	border-left: thin outset;
	cursor: hand;
	border-bottom: thin outset;
	background-color: silver;
}
.gridheader
{
	border-right: white 2px outset;
	padding-right: 1px;
	border-top: white 2px outset;
	padding-left: 1px;
	font-weight: bold;
	font-size: x-small;
	padding-bottom: 1px;
	border-left: white 2px outset;
	color: white;
	padding-top: 1px;
	border-bottom: white 2px outset;
	background-color: #990000;
	text-align: center;
}

.gridprintheader
{
	border-right: white outset;
	padding-right: 2px;
	border-top: white outset;
	padding-left: 2px;
	font-weight: bold;
	font-size: 8pt;
	padding-bottom: 2px;
	border-left: white outset;
	color: black;
	padding-top: 2px;
	border-bottom: white outset;
	background-color: lightgrey;
	text-align: center;
}



TABLE.tblFields
{
	border-top: #3366cc thin solid;
	border-right-style: none;
	border-left-style: none;
	border-collapse: collapse;
	background-color: white;
	border-bottom-style: none;
}




.sqlbuildergrid
{
	border-right: #990000 2px solid;
	table-layout: auto;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
	border-collapse: separate;
}


.sqlbuildergridheader
{
	border-right: 1px outset;
	border-top: 1px outset;
	font-weight: bold;
	font-size: xx-small;
	border-left: 1px outset;
	color: white;
	border-bottom: 1px outset;
	background-color: #990000;
	text-align: center;
}

.fielderror
{
	background-color: yellow;
}

.fdfbox
{
	border-right: thin inset;
	border-top-style: none;
	border-bottom: thin solid;
	border-left-style: none;
}

.lnkselected
{
	font-size: xx-small;
	cursor: hand;
	color: white;
	background-color: navy;
	text-decoration: underline;
}

.selectedcell
{
	border-right: #cc9966 2px solid;
	padding-right: 2px;
	border-top: #cc9966 1px solid;
	padding-left: 2px;
	padding-bottom: 1px;
	border-left: #cc9966 2px solid;
	padding-top: 1px;
	border-bottom: #cc9966 1px solid;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;		
	color: white;
	background-color: navy;
}



.LABEL
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-transform: capitalize;
	width: 145px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: right;
	white-space:nowrap;
}

.LABELML
{
	padding-right: 2px;
	margin-right: 1px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: top;
	text-transform: capitalize;
	width: 138px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: right;
	white-space:nowrap;
}

.LABELMsg
{
	padding-top: 8px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: Red
}

.TEXTBOXML
{
	padding-left: 0px;
	margin-left: 0px;	
	width: 580px;
	height: 55px;
	text-align: left; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}	

.KYCLABEL
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-transform: capitalize;
	width: 180px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: right;
	white-space:normal
}

.OPTLABEL
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-transform: capitalize;
	width: 145px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;	
	white-space:nowrap;
}

.MandatoryStar
{
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: left;
	white-space: normal;
}


.SECTIONHEADER
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 10px;
	vertical-align: middle;
	text-transform: capitalize;
	text-decoration:underline;
	width: 145px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: right;
	white-space:nowrap;
}
.LABEL2
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-transform: capitalize;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	white-space:nowrap;
}
.LABEL3
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	white-space:nowrap;
}

.CHECKBOX
{
	padding-left: 0px;
	font-weight: bold;
	font-size: 11px;
	margin-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.CHECKBOXR
{
	padding-right: 0px;
	font-weight: bold;
	font-size: 11px;
	margin-right: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.RecordHeader
{
	border-top-width: thin;
	font-weight: bold;
	border-left-width: thin;
	font-size: 12pt;
	border-bottom-width: thin;
	vertical-align: baseline;
	color: black;
	font-family: Arial;
	background-color: #DDDDCC;
	text-align: left;
	border-right-width: thin;
	text-decoration: underline;
	white-space: nowrap;
	
}
.RecordMessage
{
	border-top-width: thin;
	font-weight: bold;
	border-left-width: thin;
	font-size: 10pt;
	border-bottom-width: thin;
	vertical-align: baseline;
	color: black;
	font-family: verdana,arial,helvetica,sans-serif;
	white-space: normal;
	background-color: #ffffcc;
	text-align: left;
	border-right-width: thin;
}

.FrameHeader
{
	border-right: thin;
	border-top: thin;
	font-size: 9pt;
	margin-bottom: 4px;
	padding-bottom: 2px;
	vertical-align: baseline;
	border-left: thin;
	width: 100%;
	color: black;
	border-bottom: thin;
	font-family: verdana,arial,helvetica,sans-serif;
	background-color: silver;
	text-align: left;
}


.DeadLink
{
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	text-transform: capitalize;
	width: 145px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 8px;
	text-align: right;
	white-space:nowrap;
	text-decoration:none;
	color:Black;	
}


.TEXTBOX
{
	width: 208px;
	height: 24px;
	text-align: left;
}



.DROPDOWNLIST
{
	width: 208px;
	height: 24px;
	text-align: left;
}

.FORMBODY
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	background-color: #cccce5;
}
.SupportingInfo
{
	Font-Size:X-Small;
	white-space:nowrap;
	
}
.helptext
{
	font-size: x-small;
}

.griderror
{
	font-size: xx-small;
	color: red;
}

.gridcell
{
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align:right;
}

.TextBoxWithNoBorder
{
	border-style:none;
	border-color:White;	
} 
	

.PageHeaderImg
{
	cursor: default;
}

.rightsgridcell
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.rightsgridHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}


.wait
{
	visibility: visible;
}

.LabelCaption
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style:italic;
	color:#0066cc;
}

.HighlightLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#0066cc;
}



.SmallLabel
{
	font-size: xx-small;
}

.ItemInAvgExceeds
{
 background-color: #99ffff;
}
.ItemOutAvgExceeds
{
 background-color: palegreen;
}

.ItemInOutAvgExceeds
{
 background-color: khaki;
}

TABLE.HMnu
{
	width: 100%;
	position: absolute;
	top: 0px;
	height: 50px;
	background-color: transparent;
	
}

.HMnuItm
{
	font-weight: bold;
	font-size: x-small;
	border-left: silver thin solid;
	cursor: hand;
	color: blue;
	text-align: left;
	text-decoration: none;
}
.Sectionheading
{
	border-right: thin;
	border-top: thin;
	font-size: x-small;
	font-weight:bold;
	margin-bottom: 4px;
	padding-bottom: 2px;
	vertical-align: baseline;
	border-left: thin;
	width: 100%;
	color: black;
	border-bottom: thin;
	font-family: verdana,arial,helvetica,sans-serif;
	text-align: left;
}
.KYCTable

{

            font-family: Verdana, Arial, Helvetica, sans-serif;

            font-size: 13px;

}

.KYCTableTr
{
   color: white;
   background-color: #990000;
}

.pageprintlayout
{
	margin-top: 3px;
	border-right: black thin solid;
	border-top: black thin solid;	
	margin-left: 5px;
	border-left: black thin solid;
	margin-right: 5px;
	border-bottom: black thin solid;
}

.pageprintheader
{	
	page-break-before: always;
	margin-left: 5px;
	margin-right: 5px;
}

.LISTBOX
{
	width: 208px;
	text-align: left;
}
TD.dashboardbanner
{
	background-color: navy;
	font-weight: bold;
	font-size: xx-small;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: white;
	
}

.dashboardmsg
{
	font-size: x-small;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: navy;
}

.CatalogLink
{
	font-size: x-small;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	cursor: hand;
	color:blue;
	text-decoration: none;
}

/*WIDGET BODY CSS */
 .WDBPartTitleStyle {       /*title bar*/
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size:xx-small;
    background-color:#990000;  
    background-image:url(images/eyebrow-upper-left-corner.gif); 
    background-repeat: no-repeat; 
    background-position: left top; 
    padding: 0px 0px 0px 2px;}


.WDBPartTitleStyle table {
    background-image:url(images/eyebrow-upper-right-corner.gif);
    background-repeat: no-repeat; 
    background-position: right top;
    }
    
    
.WDBPartTitleStyle table tr td {
    padding: 2px 4px 0px 1px;}
                  

.WDBPartTitleStyle table tr td span {   /* webpart title*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    vertical-align:middle;
    color:White;
    text-align:left;
    background-color:#990000;
    padding: 0px 0px 0px 2px !important;}


.WDBPartStyle {                     /*webpart body */
    background-color: transparent;  
    border-right:dashed 1px #d3d3d3;
    border-left: dashed 1px #d3d3d3;
    border-top:none;
    border-bottom:none;
    padding: 0px 0px 0px 0px !important; 
    position:relative;}


.WDBPartZone {
   border:none;
   padding: 0px 0px 0px 0px !important;
   width:320px;}


.WDBPartZoneHeader {
   height:15px;
   padding: 0px 0px 0px 0px;
    }
  /*------------------------------------------------------------------*/
  
	 
.divFavorites
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	text-align:right;
	color:#d3d3d3 ;
	vertical-align:middle ;
	padding: 2px 0px 3px 0px;
	background-color:#d3d3d3 ;
    }
 
 
        
.WDODropDownList {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	text-align: left;
	width:185px;
	height:18px;
	font-weight:normal;}
	
.WDOoptionsTable 
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	text-align:left;
	padding-right:2px;
	padding-left:4px;
}
		

.WDBdivDataScrollY {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	padding: 0px 0px 0px 0px;
	overflow-y:auto; 
	overflow-x:hidden;
}

.WDBdivDataScrollX {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	padding: 0px 0px 0px 0px;
	overflow-y:hidden; 
	overflow-x:auto;
}

.WDBdivDataScrollXY {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	padding: 0px 0px 0px 0px;
	overflow-y:auto; 
	overflow-x:auto;
}

.WDBdivDataNoScroll {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	padding: 0px 0px 0px 0px;
	overflow-y:hidden; 
	overflow-x:hidden;
}

.WDBdivBody {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	Border:none;
}	
    
.WDBdivRefresh 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	text-align:right;
	vertical-align:middle ;
	padding: 2px 0px 3px 0px;
	background-color:#d3d3d3 ;
}   

.WDBlastUpdateLabel
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:bold;
	padding-right:1px;
}

.WDBDrillDownLink
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:normal;
	color:Blue;
	text-decoration: underline;
	text-align:right;
}	
	
.WDBFavoritesDrillDownLink
{
	font-weight:normal;
	color:Blue;
	text-decoration: underline;
	text-align:left;
}	
	
.WDBFooterDrillDownLink
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:normal;
	color:Blue;
	text-decoration: underline;
	text-align:right;
}	

.WDBNoLink
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight:normal;
	text-decoration: none;
	text-align:right;
}

.WDBExpPanel 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0000C0;
	font-size:xx-small;
	font-weight:bold;
	width:93%;
	padding-left:5PX;
	padding-top:3PX;
	border-color:White;
}
	
.WDBPrintHeader
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:black;
	font-size:larger;
	font-weight:bold;
	text-align:left;
}
	
.WDBPrintParams
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:black;
	font-size:medium;
	font-weight:normal;
    text-align:left;
}
	
.WDBPrintRefresh
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:black;
	font-size:medium;
	font-weight:normal;
    text-align:left;
}
					
	
    
    
    /* Multi Select DropDown css */
 .MLDivClose{
	position:absolute;
	display:none;
	width:185px;
	height:100px;
	border-style:solid;
	border-color:#99CCFF; 
	border-width:1px;
	background-color:#9999FF;}


.MLLabelClose{
	vertical-align:middle;
	position:absolute;
	bottom:0px;
	font-family:Verdana;
	color:#CC0033;
	font-size:small;}


.MLDivCheckBoxList {
	display:none;
	position:absolute;
	background-color:white;
	width:185px;
	height:85px;
	overflow-y:auto; 
	overflow-x:hidden;
	border-style:solid;
	border-color:#9999FF; 
	border-width:1px;
	text-align:left;}


.MLCheckBoxList
{
	background-color:White;
	position:relative;
	width:185px;
	overflow:scroll;
	font-size:xx-small;
	font-weight:normal;
	text-align:left;}
	
.MLInput 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	width:165px; 
	height:18px;  }
	
.RefreshDiv
{
    position:absolute;
    top:50%; 
    left:50%;
    filter:alpha(opacity=50); 
    z-index:6001; 
}


.popup{
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}

span.ltlstr {
    font-weight: bold;
    font-size: small;
    color: black;
}

/*------------------------------------------*/
