<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="Scripts/timeout-dialog/js/jquery-3.6.0.min.js"></script>
    <script src="Scripts/timeout-dialog/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="Scripts/timeout-dialog/js/timeout-dialog.js"></script>
    <script src="Scripts/timeout-dialog/js/jTimeout.js"></script>
    <link href="Scripts/timeout-dialog/css/index.css" rel="stylesheet" />
    <link href="Scripts/timeout-dialog/css/timeout-dialog.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="#" id="timeout-example">Click Here to See Demo</a>
        </div>
    </form>
    <script type="text/javascript">
        var SessiontimeLeft = <%= Session.Timeout * 60 %>;
        ////https://rigoneri.github.io/timeout-dialog.js/
        //timeout	number	1200	The number of your session timeout(in seconds).The timeout value minus the countdown value determines how long until the dialog appears.
        //countdown	number	60	The countdown total value(in seconds).
        $(document).ready(function () {
            SessiontimeLeft = 70;   // 網頁載入完成後，Session Time 為 70 sec
            // 剩下 60 秒開始跳出對話盒視窗，進行倒數 (所以網頁載入 70-60=10 開始跳出對話盒視窗)
            $.timeoutDialog({ timeout: SessiontimeLeft, countdown: 60, logout_redirect_url: '../sessionLogout.htm', restart_on_yes: false });
            //$.timeoutDialog({ timeout: 1, countdown: 60, logout_redirect_url: 'https://github.com/rigoneri/timeout-dialog.js', restart_on_yes: false });
        });
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        $(function () {
            $("#timeout-example").click(function (e) {
                e.preventDefault();
                $.timeoutDialog({ timeout: 1, countdown: 60, logout_redirect_url: 'https://github.com/rigoneri/timeout-dialog.js', restart_on_yes: false });
            });
        });
/*]]>*/
    </script>

</body>
</html>